@import "main.css";
#scrollParent {
  width: 100vw;
  height: 100vh;
  /* scroll-snap-type: y mandatory;
  overflow-y: scroll; */
}
body::-webkit-scrollbar {
  display: none;
}

.body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.snappingpage {
  height: 100vh;
  scroll-snap-align: start;
  background: linear-gradient(315deg, #45484d, #282c33);
}
.logocover {
  background: #282c33;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: transformer;
  color: #ceb76e;
}
.landingWrap {
  text-align: center;
}
.scrollIndicator {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 5rem;
  background: linear-gradient(
    0deg,
    rgba(122, 122, 122, 0.493) 0%,
    rgba(217, 218, 219, 0) 100%
  );
  color: #ceb76e;
  font-weight: bolder;
}
.scrollDownIcon {
  font-size: 38px;
}
.demo {
  display: flex;
}
.imageBanner {
  width: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectInfo {
  width: 65vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
}
.app-title {
  font-family: transformer;
  color: #ceb76e;
}
.app-detail {
  text-align: center;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #ceb76e;
  padding: 2rem;
}
.gold-button {
  background-color: #ffffff00;
  padding: 1rem;
  color: #ceb76e;
  box-sizing: border-box;
  border-radius: 0.3rem;
  border: #ceb76e solid 2px;
  cursor: pointer;
}
.contactInfo {
  box-sizing: border-box;
  display: flex;
}
.formbox {
  box-sizing: border-box;
  width: fit-content;
  position: relative;
  width: 100%;
  padding: 0;
}
.cardWrap {
  color: #ceb76e;
  position: relative;
  height: 10rem;
  width: 25rem;
  margin-bottom: 1rem;
}
.detailcard {
  position: absolute;
  top: 0;
  right: 0;
  width: 21rem;
  height: 10rem;
  border: #ceb76e solid 2px;
  padding: 1rem 1rem 1rem 5rem;
  box-sizing: border-box;
  border-radius: 0.2rem;
}
.avatar {
  position: absolute;
  display: inline-block;
  left: 0%;
  top: 1rem;
  border-radius: 4rem;
  height: 8rem;
  width: 8rem;
  z-index: 1;
  background-size: cover;
  border: #ceb76e solid 2px;
}
.devinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.detailcard a {
  color: #ceb76e;
}
.contactform {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 2rem;
  border: #ceb76e solid 2px;
  box-sizing: border-box;
}

h1.gold {
  color: #ceb76e;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: scroll;
}

.modal-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #282c33;
  border: 1px solid #ceb76e;
  padding: 1rem;
  width: 80vw;
  color: #ceb76e;
  font-family: transformer;
}
span.close {
  display: none;
}

.field-wrapper {
  position: relative;

  height: 25px;
  margin: 0;
}
input,
textarea {
  padding: 8px;
  width: 100%;
  height: 100%;
  border: #e4e4e4 solid 2px;
  border-radius: 0.5rem;
  background-color: #00000000;
  box-sizing: border-box;
  transition: all 300ms;
  resize: vertical;
}
input:focus {
  color: #ceb76e;
  font-size: 20px;
  width: 100%;
  height: 100%;
  border: #ceb76e solid 2px;
  border-radius: 0.5rem;
  background-color: #00000000;
  outline: none;
}

textarea:focus {
  border: #ceb76e solid 2px;
  outline: none;
}
.feild-wrap div {
  text-align: left;
  padding: 0.2rem;
}
