@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
html{
    scroll-behavior: smooth;
    height: 100%;
}
body{
    background-color: #282c33;
    margin: 0%;
    width: 100%;
}
@font-face {
    font-family: transformer;
    src: url(assets/TransformersMovie-y9Ad.ttf);
}
